# Compiled Object files
obj/

# Executables
rayTracer

# Backup files
*~

# Parser Files
parser/location.hh
parser/position.hh
parser/sceneLexer.cpp
parser/sceneParser.cpp
parser/sceneParser.hpp
parser/sceneParser.output
parser/stack.hh

# Outputs
images/
*.bmp

# LaTeX
*.aux
*.log
*.ps
*.toc
*.dvi
*.pdf
